/* Home Page Styling */
body {
    background-color: #222629;
    color: white;
    color: #86c232;
    font-family: 'Abel', sans-serif;
    
}

h1,
h2 {
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: solid 2px #86c232;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #6b6e70;
}

p {
    text-align: center;
    padding: 10px;
    font-size: 1.3rem;
}

figure {

    margin-right: auto;
    margin-left: auto;


}

figcaption {
    text-align: center;
    font-size: 1.1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-container-col {
    display: grid;
    grid-template-columns: 1fr;
    
}

.portal {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 10%;
    border-radius: 10px;
    border: solid 1px white;
    background-color: #86c232;
    padding: 5px;
    font-weight: bold;
    position: fixed;
    top: 10px;
    left: 10px;
    min-width: 83px;

}

.portal a {
    color: white;
    text-decoration: none;
}

.portal:hover {
    background-color: white;
    color: #222629;
}

.basketball {

    transition-duration: 7000ms;
    transition-timing-function: cubic-bezier(.77, 0, .18, 1);
}

.basketball:hover {

    transform: rotate(-2000deg);
}

#logo {
    border-radius: 20px;
    transition-delay: 500ms;
    transition-duration: 3000ms;
    transition-timing-function: ease-in-out;

}

#logo:hover {
    width: 500px;
    background-color: #86c232;


}

.ul-container  {
    padding: 10px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
div.ul-container li {
     padding: .5rem;
     font-size: 1.3rem;
    
}
.red {
    color: red;
}
p a {
    color: lightblue;
}

.address-form {
    font-size: 1.5rem;
    background-color: #6b6e70;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 8px;
}
.address-form input{
    display: block;
    padding: 10px;
    margin-bottom: 10px;
}

.order {
    background-color: #6b6e70;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 2px solid #86c232;
    

}
.order p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 1.5rem;
    
}

p.green {
    color: #86c232;
    font-weight: bold;
    font-size: 1.6rem;
}

.cart {
    color: green;
    font-size: 1.4rem;
    background-color: white;
    border-radius: 10px;
    border: 1px solid green;
    padding: 5px;
    position: fixed;
    right: 2px;
    top: 2px;
}
.cart:hover{
    color: white;
    background-color: #86c232;
}
.message {
    color: lightcoral;
    font-size: 1.5rem;
}

.add-to-cart {
    font-size: 1.2rem;
    color:white;
    background-color: #6b6e70;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 3px;
    position: relative;
    bottom: 17px;
}
.add-to-cart:hover {
    background-color: white;
    color: green;
}

.increase-quantity {
    background-color: green;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px white;
    color: white;
    text-decoration: none;
    font-size: 15px;
    width: 50px;
    position: relative;
    top: 15px;
    left: 120px;
}
.decrease-quantity {
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: solid 2px white;
    font-size: 15px;
    width: 30px;
    position: relative;
    bottom: 10px;
    left: 80px;
}

.increase-quantity:hover {
    background-color: white;
    color: green;
}
.decrease-quantity:hover {
    background-color: black;
    color: red;
}
input.empty-cart {
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: solid 2px white;
    font-size: 15px;
    position: relative;
    left: 50%;
}
.empty-cart:hover {
    background-color: black;
    color: red;

}
.cart-header {
    background-color: white;
    width: 400px;
    min-width: 350px;
    border-radius: 10px;
    border: 2px solid green;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    right: 10px;
    top: 1px;
}
.cart-header a {
    color: green;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 10px;
}

.cart-header a:hover {
    background-color: black;
    color: white;
}
.order-now {
    background-color: #86c232;
    color: white;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-top: 20px;
}
.order-now:hover {
    background-color: red;
    border: 2px solid green;
}
a.purple {
    color: purple;
    font-size: 1.2rem;
}