body {
    background-color: #222629;
    color: white;
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.site-name {
    padding-left: 25px;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}
header {
    background-color: white;
    margin-top: 0;
}
.menu-outer {
    height: 40px;
    background-color: white;
}
nav {
    margin-top: 0;
    padding: 0;
    
}
nav.table {
    display: table;
    margin-left: auto;
    margin-right: auto;
    
}
nav ul {
    
    list-style: none;
    padding: 10px;
    min-width: 500px;
    
    text-align: center;
}
nav ul li {
    display: inline;
    
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color:black;
    font-size: 1.4rem;
   
}
nav ul li a:hover {
    background-color: #222629;
    color: white;
    border-bottom: solid 3px #222629;;
    border-top-right-radius: 10px;
}
nav ul.hide {display: none;}
.hide{display: none;}

button.toggle-button {
    
    position: relative;
    padding: 9px;
    top: 50px;
    left: 3px;
    background-color: #222629;
    color: white;
    border-color:white;
    border-radius: 5px;
}
button.toggle-button:hover {
    background-color: white;
    color: black;
}

th {
    background-color: #6B6E70;
}
td {
    background-color: white;
    color: #222629;
}
label {
    color: white;
}

.players-heading {
    padding: 30px;
    margin: 20px;
}

div#players_info.dataTables_info {
    color: white;
}
.main-nav {
    background-color:#86c232;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer {
    height: 100px;
    background-color: #6b6e70;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 100px;
}
footer p {
    text-align: center;
    position: relative;
    top: 40px;

}
footer a {
    color: #86c232;
}

#login {
    color: black;
    position: relative;
    left: 820px;
    bottom: 35px;
     background-color: #222629;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 3px solid #86c232;
}

#login:hover {
    color: black;
    position: relative;
    left: 820px;
    bottom: 35px;
     background-color: #86c232;
    padding: 5px;
    border-radius: 5px;
    color: #ffffff;
    border: 3px solid #222629;
    
}

#logout {
    position: relative;
    left: 820px;
    bottom: 35px;
    background-color: #222629;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 3px solid black;
}
#logout:hover {
    position: relative;
    left: 820px;
    bottom: 35px;
    background-color: #cc0000;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 3px solid black;
}
#account {
    display: inline;
    position: relative;
    left: 630px;
    bottom: 35px;
    background-color: #86c232;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: 3px solid black;
}
#account:hover {
    background-color: #222629;
    color: white; 
    border: 3px solid #86c232; 
}

#welcome {
    display: inline;
    color: #cc0000;
    position: relative;
    left: 520px;
    bottom: -11px;
}

input.submit-comment{
    display: block;
    color: black;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 15px;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
}

input.submit-comment:hover {
    background-color: white;
    color: black;
    border: solid 2px #86c232; 
}
.white {
    color: white;
    font-weight: bold;
}
form.form  {
    
    max-width: 300px;
    padding: 20px;
    margin-left: 10px;
    background-color: #6b6e70;
    border-radius: 10px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
}
.submit-button{
    padding: 10px;
    margin-top: 20px;
}
.submit-button:hover{
    background-color: black;
    color: white;
}

.message {
    margin-top: 20px;
    margin-bottom: 1rem;
    padding: 15px;
    color: #ffd24b;
}

.question {
    color: #cc0000;
}
.red {
    color: #cc0000;
}
.commenting-as {
    font-size: .9rem;
    text-align: center;
}
#comment_text {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.question {
    color: #FFEE5F;
    font-weight: bold;
    font-family: Merriweather, sans-serif;
    text-align: center;
}
.center {
    text-align: center;
}
.img-border {
    border: 4px solid white;
}

a.delete, a.update {
    color: #ffffff;
    padding-left: 7px;
    padding-right: 7px;
    border: solid 1px #ffffff;
    text-align: center;
    background-color: #222629;
  }
  
  a.delete:nth-child(odd):hover {
    background-color: red;
  }
  a.update:nth-child(even):hover {
    background-color: green; 
  }

  .comments-div div div {
    max-width: 800px;
    background-color: #6b6e70;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: 2px solid #86c232;
    text-align: center;
    font-size: 1.1rem;
    margin-right: auto;
    margin-left: auto;
    color: white;
    
}
h4.text-center {
    text-align: center;
    padding: 10px;
}
